@import "materialize";
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.hidden_option_movie {
    display: none;
}

.hidden_option_recipe {
    display: none;
}

.inner {
    display: inline-block;
}

#error_explanation {
    font-size: small;
    color: #D8000C;
    background-color: #FFD2D2;
    h2 {
        font-size: large;
    }
}

#notice {
    color: #4F8A10;
    background-color: #DFF2BF;
}